nav
  .nav-logo
    a href="//www.huffingtonpost.com"
      img alt="The Huffington Post" class="logo-desktop" src="${assets.hrefTo('images/hplogo.svg')}" 
  .share-buttons
    button.facebook-share -- Share on Facebook
    button.twitter-share -- Share on Twitter
