$background: #fff;
$alt-background: #f3f3f3;
$highlight-background: #f7f787;
$color: black;
$nav-background: white;
$nav-color: black;
$header-muted-color: #999;
$link-color: #307162;
$muted-color: #6a6969;
$very-muted-color: #bababa;
$very-very-muted-color: #e3e3e3;
$body-font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$nav-font-family: $body-font-family; // there's no text
$header-font-family: ProximaNovaCond-Extrabld, Arial, Helvetica, sans-serif;
$red: #e34433;
$dark-red: #b13426;
$green: #4fa74a;
$purple: #653f98;
$yellow: #fff200;
